node_modules
dist
.git
.gitignore
Dockerfile
docker-compose.yml
.env
frontend
frontend-e2e
backend-e2e
**/*.spec.ts
**/*.test.tsnode_modules
dist
.git
.gitignore
npm-debug.log
Dockerfile
docker-compose.yml
.env