services:
  api:
    build:
      context: ../..
      dockerfile: backend/account-service/Dockerfile
    env_file:
      - .env
    environment:
      PORT: ${PORT:?PORT is required}
      DB_HOST: db
      DB_PORT: ${DB_PORT:?DB_PORT is required}
      DB_USER: ${DB_USER:?DB_USER is required}
      DB_PASS: ${DB_PASS:?DB_PASS is required}
      DB_NAME: ${DB_NAME:?DB_NAME is required}
      JWT_SECRET: ${JWT_SECRET:?JWT_SECRET is required}
      REDIS_HOST: ${REDIS_HOST:?REDIS_HOST is required}
      REDIS_PORT: ${REDIS_PORT:?REDIS_PORT is required}
    ports:
      - '3000:3000'
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: teddy
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    hostname: redis
    command: redis-server --appendonly yes
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data:
