services:
  api:
    build:
      context: ../..
      dockerfile: backend/account-service/Dockerfile
    env_file:
      - .env
    environment:
      PORT: ${PORT:-3000}
      DB_HOST: db
      DB_PORT: ${DB_PORT:-5432}
      DB_USER: ${DB_USER:-postgres}
      DB_PASS: ${DB_PASS:-postgres}
      DB_NAME: ${DB_NAME:-teddy}
      JWT_SECRET: ${JWT_SECRET:-supersecret}
      JWT_EXPIRES: ${JWT_EXPIRES:-1d}
      REDIS_HOST: redis
      REDIS_PORT: ${REDIS_PORT:-6379}
    ports:
      - '3000:3000'
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: teddy
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    hostname: redis
    command: redis-server --appendonly yes
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data:
