name: CD Backend

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    name: Build and Push Container
    runs-on: ubuntu-latest
    environment: production
    env:
      IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/account-service
      IMAGE_TAG: ${{ github.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build image
        run: |
          docker build \
            -t $IMAGE_NAME:$IMAGE_TAG \
            -f backend/account-service/Dockerfile \
            .

      - name: Push image
        run: |
          docker push $IMAGE_NAME:$IMAGE_TAG
